.Medal
    display inline-block
    background center center no-repeat
    background-size cover

    &_size
        &_XS
            width 12px
            height 12px
        &_S
            width 16px
            height 16px
        &_M
            width 32px
            height 32px
        &_L
            width 64px
            height 64px

    &_place
        &_1
            background-image @css{url(i/1.svg)}
        &_2
            background-image @css{url(i/2.svg)}
        &_3
            background-image @css{url(i/3.svg)}
