.Facts
    white-space nowrap

    &__fact
        & + &
            padding-top 2ex

    &__title
        font-weight bold

    &__title
    &__value
        display inline
        .Link
            display inline

    .Link
        color color-link
