.Input

    /**
     * Mixin
     */
    define-theme(theme, text, background)
        background-luminosity = luminosity(background)

        &_theme_{theme}

            if is-light-color(background)
                control-background = control-background-light
                control-focus = control-focus-light
                control-hint = control-hint-light
                control-disable = control-disable-light
            else if is-mid-color(background)
                control-background = control-background-mid
                control-focus = control-focus-mid
                control-hint = control-hint-mid
                control-disable = control-disable-mid
            else if is-dark-color(background)
                control-background = control-background-dark
                control-focus = control-focus-dark
                control-hint = control-hint-dark
                control-disable = control-disable-dark

            if is-light-color(background)
                box-shadow inset 0 0 0 2px background * control-border-light
                &:before
                    background-color background * control-foreground-light
                &.input_mouseover
                    box-shadow inset 0 0 0 2px background * control-border-light * control-hover
            else
                background-color background * control-background
                &.input_mouseover
                    background-color background * control-background * control-hover

            &.input_focus
                control-focus(background * control-focus)

            .input__input
                color text
                &::placeholder
                    color background * control-hint

            .input__clear
                background background * control-hint
                &_mouseover
                    background text

            &.input_disabled
                background-color background * control-disable
                .input__input
                    color mix(background, text, 50%)
                    &::placeholder
                        color mix(background, text, 75%)


    define-shape(platform, size)
        border-radius radius-inside

        &:before
            border-radius radius-inside - 1px

        &
        &__input
            height size
            line-height size
            padding 0 round(size * control-margin-factor)

        &__input
            control-style none
            padding-right size

        &__clear
            width size
            if platform is touch
                mask center center no-repeat @css{url(i/clear-touch.svg)}
            if platform is desktop
                mask center center no-repeat @css{url(i/clear-desktop.svg)}

    /**
     * Style
     */
    for theme in control-theme
        define-theme(
            theme,
            control-theme[theme].text,
            control-theme[theme].background
        )

    @media screen-touch
        define-shape(touch, control-size-m-touch)

    @media screen-desktop
        define-shape(desktop, control-size-m-desktop)

    position relative
    padding 0
    transition background .15s linear

    &:before
        content ''
        display block
        position absolute
        top 2px
        bottom 2px
        left 2px
        right 2px

    &_DataType
        &_number
            .input__input
                text-align right
            .input__clear
                right auto
                left 0
        &_date
            .input__clear
                display none

    &__input
        display block
        position absolute
        top 0
        bottom 0
        left 0
        width 100%

    &__clear
        position absolute
        top 0
        bottom 0
        right 0
        transition background .15s linear

    &_empty &__clear
        display none

    &_disabled
        box-shadow none

        &
        .input__input
            cursor default @css{!important}

        &:before
        .input__clear
            display none