.ControlGroup

    &__justify
        display flex
        flex-wrap wrap
        justify-content space-between
        align-items center
        margin -4px

        .controlform
            flex-grow 1
            margin 4px

    &_mode_line
        .controlform + .controlform
            margin-left 8px
            vertical-align top
