.MetroStation
    display inline-block
    white-space nowrap

    &__line
        display inline-block
        background #000
        width 2ex
        height 1.1ex
        margin-right .5ex

    &_city_moscow&_line
        &_1 .MetroStation__line
            background #DA322A
        &_2 .MetroStation__line
            background #46AF5C
        &_3 .MetroStation__line
            background #006DA8
        &_4 .MetroStation__line
            background #00B8E0
        &_5 .MetroStation__line
            background #794835
        &_6 .MetroStation__line
            background #E77A38
        &_7 .MetroStation__line
            background #804388
        &_8 .MetroStation__line
            background #804388
        &_8A .MetroStation__line
            background #804388
        &_9 .MetroStation__line
            background #9B9D99
        &_10 .MetroStation__line
            background #ADCD4A
        &_11A .MetroStation__line
            background #79C6BF
        &_12 .MetroStation__line
            background #A8B8D4

    &__title
        display inline-block
